<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      #alert-check:checked ~ #alert {
        display: none;
      }
    </style>
  </head>
  <body class="bg-gray-200">
    {% include 'navbar.html' %}
    <main
      class="mx-auto container flex justify-center h-screen bg-gray-200 h-screen rounded-md overflow-hidden shadow-md p-6"
    >
      <div class="container flex justify-center h-screen">
        {% block content %} {% endblock %}
      </div>
    </main>
    <footer class="bg-gray-800 pt-10 sm:mt-10 pt-10">
      <div class="max-w-6xl m-auto text-gray-800 flex flex-wrap justify-left">
        <!-- Column 1 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
          <div class="text-xs uppercase text-gray-400 font-medium mb-6">
            Home
          </div>
          <a
            href="#"
            class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >Services</a
          >
          <a
            href="#"
            class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >Portfolio</a
          >
          <a
            href="#"
            class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >Contact</a
          >
        </div>

        <!-- Column 2 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
          <div class="text-xs uppercase text-gray-400 font-medium mb-6">
            About us
          </div>
          <a
            href="#"
            class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >Company</a
          >
          <a
            href="#"
            class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >Team</a
          >
          <a
            href="#"
            class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >Careers</a
          >
        </div>

        <!-- Column 3 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
          <div class="text-xs uppercase text-gray-400 font-medium mb-6">
            Support
          </div>
          <a
            href="#"
            class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >FAQ</a
          >
          <a
            href="#"
            class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >Help desk</a
          >
          <a
            href="#"
            class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >Forums</a
          >
        </div>

        <!-- Column 4 -->
        <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
          <div class="text-xs uppercase text-gray-400 font-medium mb-6">
            Legal
          </div>
          <a
            href="#"
            class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >Terms of Service</a
          >
          <a
            href="#"
            class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700"
            >Privacy Policy</a
          >
        </div>
      </div>

      <div class="pt-2">
        <div
          class="flex pb-5 px-3 m-auto pt-5 border-t border-gray-500 text-gray-400 text-sm flex-col md:flex-row max-w-6xl"
        >
          <div class="mt-2">
            <p class="text-xs text-gray-400 mt-2 md:ml-6">
              © 2024 Company Name
            </p>
          </div>

          <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
            <a href="#" class="w-6 mx-1">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="w-6 mx-1">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="w-6 mx-1">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="#" class="w-6 mx-1">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#" class="w-6 mx-1">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
