<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      #alert-check:checked ~ #alert {
        display: none;
      }
    </style>
  </head>
  <body class="bg-gray-200">
    {% include 'navbar.html' %}
    <main
      class="mx-auto container flex justify-center h-screen bg-gray-200 h-screen rounded-md overflow-hidden shadow-md p-6"
    >
      <div class="container flex justify-center h-screen">
        {% block content %} {% endblock %}
      </div>
    </main>
  </body>
</html>
